
\.idea/

\.gradle/3\.1/taskArtifacts/

build/classes/main/

gradle/wrapper/

gradlew\.bat

gradlew

\.gradle/3\.5-rc-2/taskHistory/

\.gradle/buildOutputCleanup/

\.gradle/3\.5-rc-2/file-changes/

out/production/classes/
